<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name text-center">
      <h1 class="text-center"><a href="#"><img class="logo" src="/assets/logo.png" alt="Logo"/></a></h1>
    </li>
  </ul>
</nav>

{{outlet}}

<footer>
	<div class="row text-center">
		<div class="small-12 columns">
			<p>What are you eating?</p>
		</div>
	</div>
</footer>
