<section class="dark-bg">
	<div class="row">
		<div class="small-12 columns animation-wrapper text-center">
			<img class="truck" src="/assets/images/truck.png" alt="Truck"/>
			<img class="wing1" src="/assets/images/wing.png" alt="Wing 1"/>
			<img class="wing2" src="/assets/images/wing2.png" alt="Wing 2"/>
		</div>
	</div>
	<div class="row">
		<div class="small-10 small-offset-1 columns padding-top text-center">
			<h2>Truck yeah!</h2>
			<p>Thanks for placing your order! We'll text you when your food is ready.</p>
		</div>
	</div>
	<div class="row margin-top">
		<div class="small-12 columns text-center">
			{{#link-to 'index'}}<button class="button radius">Get more food!</button>{{/link-to}}
		</div>
	</div>
</section>