<section>
	<div class="row">
		<div class="hero">
			<div class="small-12 columns">
				<h1>Mac Daddy's Food Truck</h1>
				<p>Gourmet mac and cheese served up toy our pleasing. Do you like cheese? Of course you do, so you'll like us.</p>
			</div>
		</div>
	</div>
	<div class="row location-bg">
		<div class="small-12 columns">
			<p>At 123 Main Street right now</p>
		</div>
	</div>
</section>
<section>
	<iframe width='100%' height='150px' zoom=12 frameBorder='0' src='https://a.tiles.mapbox.com/v4/randrew.b5abb45b/attribution.html?access_token=pk.eyJ1IjoicmFuZHJldyIsImEiOiJiZTQwN2UwMDQ3MzM2ZDhkYmQ2NjRhMzA0MDI4N2I2MSJ9.RLUoHJAZl_AUfCfD7L2OKA#12/32.911/-79.86'></iframe>
	<div class="divider-yellow"></div>
</section>

<section class="dark-bg">
	<div class="row">
		<div class="small-12 columns padding-top">
			<h3>The Food</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{#each menuItems as |item|}}
				<div class="row menu-item">
					<div class="small-8 large-10 columns">
						<h2>{{item.title}}</h2>
						<p>{{item.description}}</p>
					</div>
					<div class="small-4 large-2 columns">
						{{#link-to 'place-order'}}<button class="button small radius pull-right text-center margin-top">
							<p class="price">${{item.price}}</p>
							Order
						</button>{{/link-to}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</section>